<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="global">
  <div>
    <img src="../../assets/EquiCloud.png" alt="EquiCloud Logo" width="150" />
  </div>
<ng-container *ngIf="loggedIn">    
    <button class="btn btn-danger" type="button" id="logoutButton" (click)="logout()">Logout</button>
    <button type="button" class="btn btn-outline-secondary" id="fileUploadButton" (click)="navigateToUpload()">Upload files</button>
    <button type="button" class="btn btn-outline-secondary" id="fileListButton" (click)="navigateToFileList()">View list of files</button>
  </ng-container>


<div class="poweredBy">
  Powered By: 
  <img class="logo" src="../assets/equifaxLogo.png" alt="Equifax Logo" width="100" >
</div>
</div>
</nav>
<router-outlet></router-outlet>


