<br>
<h2>Files:</h2>
<label class="h6">Search</label>&nbsp;
<input id="search"  type="text" [(ngModel)]="search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label class="h6" >Sort By</label>&nbsp;
<select id="sort" class="btn btn-outline-secondary dropdown-toggle m-2" [(ngModel)]="sortBy">
    <option>Alphabetical</option>
    <option>Upload Date</option>
</select>
<ng-container *ngIf="sortBy=='Alphabetical'">
    <select id="sort" class="btn btn-outline-secondary dropdown-toggle" [(ngModel)]="ascending">
        <option [ngValue]="true">Ascending</option>
        <option [ngValue]="false">Descending</option>
    </select>
</ng-container>
<ng-container *ngIf="sortBy=='Upload Date'">
    <select id="sort" class="btn btn-outline-secondary dropdown-toggle" [(ngModel)]="ascending">
        <option [ngValue]="true">Old to New</option>
        <option [ngValue]="false">New to Old</option>
    </select>
</ng-container>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button id="submitSearch" class="btn btn-outline-primary" (click)="refresh()">Submit</button>

<br><br>
    
<table class="table table-fixed no-border-collapse ">
    <thead style="position:sticky;top:0">
        <tr>
            <th  style="width: 27%"></th>
            <th  style="width: 15%">File Name</th>
            <th  >Description</th>
            <th  style="width: 17%">Upload Time:</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let folder of folders;index as i">
         
            <ng-container *ngIf="!folder.visible"> 
                <tr>                            
                    <button class="folderButton" (click)="show(folder)"><img src="../../assets/folder.png" alt="folder" width="30">  </button>{{folder.folder}}
                </tr> 
            </ng-container>
                                
            <ng-container class="visibleFolder"  *ngIf="folder.visible">
                <tr>                            
                    <button class="folderButton" (click)="show(folder)"><img src="../../assets/folder.png" alt="folder" width="30">  </button>{{folder.folder}}
                </tr> 
                <ng-container *ngFor="let file of folder.files">
                    <tr>
                        <th><button class="btn btn-primary" (click)="download(file)">Download</button></th>
                        <td>{{file.fileName}}</td>
                        <td>{{file.description}}</td>
                        <td>{{file.uploadDate | date:'hh:mm:ss aa'}}&nbsp;On&nbsp; {{file.uploadDate | date}}</td>
                                
                    </tr>
                                
                </ng-container>
                <ng-container *ngFor="let nest of folder.nested;index as j">
                    <tr>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="folderButton" (click)="show(nest)"><img src="../../assets/folder.png" alt="folder" width="30"></button>{{nest.folder}}
                    </tr>   
                    <ng-container class="nestedListVisible" *ngIf="nest.visible">
                        <ng-container *ngFor="let file of nest.files">
                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="download(file)">Download</button></th>
                                <td>{{file.fileName}}</td>
                                <td>{{file.description}}</td>
                                <td>{{file.uploadDate | date:'hh:mm:ss aa'}}&nbsp;On&nbsp; {{file.uploadDate | date}}</td>                                        
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container> 
    </tbody>
</table>
        
