<div>
  <div class="container d-flex justify-content-center">
    <div class="p-4 border rounded shadow bg-white my-4">
    <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="loginForm.valid && login()">
      <p class="h4 m-4 d-block text-center ">Log in</p>
      <div>
        <label for="username">Username </label>
        <input type="text" id="username" name="accountName" [(ngModel)]="accountName" 
               placeholder="Username" required #username="ngModel"
               class="form-control mb-4" 
               [ngClass]="{ 'is-invalid': loginForm.submitted && username.errors }">
        <div *ngIf="loginForm.submitted && username.errors" class="invalid-feedback">
          <small *ngIf="username.errors?.['required']">Username is required</small>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" 
               placeholder="Password" required #passWord="ngModel"
               class="form-control mb-4" 
               [ngClass]="{ 'is-invalid': loginForm.submitted && passWord.errors }">
        <div *ngIf="loginForm.submitted && passWord.errors" class="invalid-feedback">
          <small *ngIf="passWord.errors?.['required']">Password is required</small>
        </div>
      </div>
      <hr>
      <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary m-2">Login</button>
      <a routerLink="/register" class="btn btn-primary m-2">Register</a>
      </div>
    </form>
    </div>
  </div>
</div>