/* You can add global styles to this file, and also import other style files */
.global{
    position: relative;
    left:15px;
    width: 98%;
}

.poweredBy{
    position:absolute;
    top:20px;
    right:5px;
}

.folderButton{
    border:none;
}
.fileList{
    border-style: solid;
    border-width: 2px;
    position:relative;
    left:2.5%;
    width: 95%;
}

#logoutButton{
position:absolute;
right:5px;

}
#loginLink{

}
#registerLink{
position:relative;
left:2
}
#sort{
height:35px;
}
#search{
    height:35px;
}
#submitSearch{
position:relative;
bottom:2px;
}